numpy==1.23.5             # For numerical operations
matplotlib==3.6.2         # For plotting
scikit-learn==1.2.0       
opencv-python==4.6.0.66  
pyyaml==6.0               # For reading configuration from config.yaml
